li a{
  text-decoration: none;
  font-size: 17px;
 
}
li a:hover{
 font-weight: bold;
 color: yellow;
}

@media (max-width: 1199px) {
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
    cursor: pointer;
  }
}

@media (max-width: 1199px) {
  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }
}
@media (max-width: 1199px) {
  .navmenu {
    padding: 0;
    z-index: 9997;
  }
}
.bi-x::before {
  content: "\f62a";
}
.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
::after,
::before {
  box-sizing: border-box;
}
@media (max-width: 1199px) {
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }
}

@media (max-width: 1199px) {
  .mobile-nav-active .navmenu > ul {
    display: block;
  }
}
@media (max-width: 1199px) {
  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
}
@media (max-width: 1199px) {
  .mobile-nav-active .navmenu > ul {
    display: block;
  }
}
@media (max-width: 1199px) {
  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
}

.bar {
    padding: 10px;
    background-color: #3498db;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
  }


   i.mobile-nav-toggle.menu  {
      display: none;
    }
    @media (max-width: 1199px) {
        i.mobile-nav-toggle.menu {
            display: block;
        }
    }

    @media (max-width: 1199px) {
        i.mobile-nav-toggle.menu{
            color: #fff;
            position: absolute;
            font-size: 32px;
            top: 15px;
            right: 15px;
            margin-right: 0;
            z-index: 9999;
        }
    }

    .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }